@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .collapse {
  max-width: 100%;
  overflow-x: hidden;
  white-space: normal;
}

@media screen and (max-width: 640px) {
  .collapse {
    max-width: calc(100% - 4rem);
  }
} */

/* @media (max-width: 640px) {
  .task-card {
    max-width: 90%;
  }
} */
